/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Color Variable */
@import 'color.css';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--bg-white);
  color: var(--text-black);
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}
.container{
  max-width: 1200px;
}

.form-control {
  background: var(--white);
  box-sizing: border-box;
  border-radius: 6px;
  height: 45px;
  font-size: 14px;
  color: var(--text-primary);
  padding: 5px 20px;
  font-weight: 600;
}

.form-control::placeholder {
  color: #c7c3c3;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  color: var(--text-blue);
  border: 1px solid var(--primary) !important;
}

.form-group {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-info {
  background: var(--btn-info-bg);
  border-color: var(--btn-info-bg);
}

.btn-primary {
  background: var(--btn-primary-bg);
  border-color: var(--btn-primary-bg);
  color: var(--text-white);
}
.btn-secondary {
  background: var(--btn-secondary-bg);
  border-color: var(--btn-secondary-bg);
  color: var(--text-white);
}
section{
  padding: 60px 0px;
}
/* header*/

header nav {
  width: 100%;
  padding: 20px 15px !important;
  z-index: 999;
}

header .form-control {
  border: none;
  height: 40px;
  border-radius: 30px;
  padding-left: 45px;
  width: 280px !important;
}

header .logo {
  max-width: 120px;
}

header .nav-item {
  padding: 0 8px;
}

header #navbar_main .nav-item img {
  position: relative;
  top: -2px;
}

header .nav-link {
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-blue) !important;
  font-weight: 700;
}

header .nav-link .fa-angle-down {
  font-weight: 600;
  font-size: 16px;
}

header .nav-item.active .nav-link {
  color: #009CDE !important;
}

header .nav-link:hover {
  color: var(--text-blue) !important;
}

header .navbar-brand img {
  width: 200px;
}

header .btn {
  font-size: 14px;
  color: var(--text-primary) !important;
  padding: 5px 18px !important;
}

header .btn:focus,
header .btn:hover {
  color: var(--text-primary) !important;
  background: var(--bg-white);
}

header .dropdown .dropdown-menu {
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 5px #00000029;
  padding: 20px 15px;
  background: #ebebeb;
  margin-top: 0;
  color: var(--text-blue);
}

header .dropdown .dropdown-menu:after {
  content: "";
  background: #001eff;
  width: 90px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 67px;
}

header .dropdown .dropdown-item {
  color: var(--text-blue);
  font-size: 13px;
  padding: 0.25rem 1rem;
  font-weight: 600;
}

header .dropdown hr {
  border-top: 3px solid #001eff;
  width: 90px;
  float: left;
}

header .fa-shopping-cart {
  font-size: 18px;
}

header .dropdown .dropdown-item:hover,
header .dropdown .dropdown-item:focus {
  color: var(--text-primary);
  background: #e9ecef;
}

.menu-section {
  padding-top: 70px;
}

#navbar_main {
  background: var(--header-bg);
  padding: 30px 15px !important;
}

.main-heading {
  text-align: center;
  font-weight: 700;
  color: var(--text-blue);
  font-size: 38px;
  margin-bottom: 50px;
}
.text-22px{
  font-size: 22px;
  font-weight: 600;
}
.text-16px{
  font-size: 16px;
  font-weight: 400;
}


/* Hero */

.hero-section {
  padding: 190px 0 0;
  background-image: url(../../assets/images/hero-bg.png);
  background-size: cover;
  background-position: center;
  color: var(--text-blue);
  margin-top: -106px;
}

.hero-section h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.hero-section .form-group {
  position: relative;
  max-width: 380px;
}

.hero-section .form-group .form-control {
  padding-left: 40px;
  border-radius: 0;
}

.hero-section .form-group .fa-search {
  position: absolute;
  top: 14px;
  left: 15px;
  color: #cfcccc;
}


/* Service */

.service-section {
  padding: 40px 0;
}

.service-section a {
  color: var(--text-blue);
}

.service-section .card:hover {
  border: 1px solid #55C7FD;
}

.service-section .card h3 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.service-section .card:hover h3 {
  color: var(--text-primary);
}

.service-section .card {
  border-radius: 8px;
  border: 1px solid var(--white);
  margin-bottom: 20px;
  box-shadow: 0 0px 6px #0000001a;
  min-height: 252px;
}

.service-section .card-body {
  padding: 40px 30px;
}

.service-section .card p {
  margin-bottom: 0;
}

.service-section .card .device-bg {
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
}

.service-section .card:hover .device-bg {
  background: var(--bg-primary);
  padding: 10px;
  border-radius: 50%;
}


/* Award */

.award-section {
  padding: 50px 0;
}

.award-section .card {
  border-radius: 8px;
  border: none;
  background: var(--bg-gray);
  margin-bottom: 20px;
  box-shadow: 0 0px 6px #0000001a;
}

.award-section .card .media {
  align-items: center;
}

.award-section .card .media img {
  margin-right: 25px;
}

.award-section .card h5 {
  font-weight: 600;
}

.award-section .card p {
  font-size: 14px;
  margin-bottom: 0;
}

.award-section .card a {
  color: #55C7FD;
}

.award-bg {
  background-image: url('../../assets/images/certificate.png');
  padding: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.award-bg .certi {
  max-width: 110px;
  display: block;
  margin: 0 auto;
}

.award-bg .card p {
  font-size: 10px !important;
}

.award-bg .star {
  width: 70px;
}

.award-bg h6 {
  font-weight: 700;
  font-size: 14px;
}

.award-bg h6 .text-danger {
  color: red !important;
}

.award-bg .card {
  max-width: 220px;
  margin: 0 auto 100px;
  position: relative;
  top: 50px;
  right: -61px;
}


/* Pay Later */

.pay-section {
  padding: 0 0 60px;
}

.pay-section .card {
  border: none;
  background: var(--bg-gray);
  border-radius: 6px;
  border: none;
  background: var(--bg-gray);
  box-shadow: 0 1px 5px #0000001c;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.pay-section .card .card-header {
  border-radius: 6px;
  background: var(--bg-primary);
  color: var(--white);
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.pay-section .card .card-header .angle-down {
  width: 18px;
  float: right;
  margin-top: 3px;
}

.pay-section .card .card-body {
  background: var(--bg-gray);
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
}


/*  Vedio */

.video-section {
  background-image: url('../../assets/images/video-bg.png');
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 160px 0 40px;
}

.video-section .video-icon {
  width: 80px;
  margin-top: 15px;
}


/* Learn */

.learn-section {
  background-image: url('../../assets/images/learn-bg.png');
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 20px 0 0;
}

.learn-section h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

.learn-section h6 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}


/* FAQ */
.faq-section p {
  color: rgb(131, 130, 130);
}

.faq-section .card {
  border: none;
}

.faq-section .card-header {
  background: #5268C2;
  padding: 10px 10px 0;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

.faq-section .nav-tabs {
  border-bottom: none;
    background: #eff3ff;
    padding: 6px;
    border-radius: 6px;
}

.faq-section .nav-tabs .nav-link {
  padding: 6px 15px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.faq-section .nav-tabs .nav-item.show .nav-link,
.faq-section .nav-tabs .nav-link.active,
.faq-section .nav-tabs .nav-link:hover {
  background: var(--primary);
  border-color: var(--primary);;
  color: var(--white);
}

.faq-section .card .card-header .btn-header-link {
  display: block;
  text-align: left;
  padding: 15px 0;
  border-radius: 0;
  font-weight: 400;
}

.faq-section .card .card-header .btn-header-link:after {
  content: "\f068";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 900;
  float: right;
  border-radius: 50%;
  color: var(--text-blue);
  padding: 1px;
  display: block;
  line-height: 14px;
  font-size: 18px !important;
  -webkit-text-stroke: 0.5px var(--white);
  text-align: center;
  margin-top: 6px;
}

.faq-section .card .card-header .btn-header-link.collapsed {
  background: var(--white);
  border-radius: 0;
}

.faq-section .card .card-header .btn-header-link.collapsed:after {
  content: "\f067";
  color: var(--black);
  /* margin-right: 70px; */
}

.faq-section .card .collapsing {
  background: var(--white);
  line-height: 30px;
}

.faq-section .accordion .card {
  box-shadow: none;
  margin-bottom: 30px;
}

.faq-section .accordion .card-header {
  background: transparent;
  padding: 0;
}

.faq-section .accordion .card-body {
  padding: 0px 0 10px;
  font-size: 14px;
}

/* works */

.works .card{
  padding: 45px 43px;
  border-radius: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
}

.works .text-22px{
  width: 209px;
  line-height: 30px;
}
.works .card img{
  height: 309px;
  width: 456px;
}
.works .work-number{
  width: 65px;
  height: 65px;
  background-color: #cfcdff;
  border-radius: 50%;
  color: var(--text-blue);
  font-size: 22px;
  font-weight: 600;
  border: 8px solid #eff3ff;
}

/* popular-features */
.features-icon{
  width: 53px;
  height: 53px;
  background-color: #d9eff6;
  border-radius: 50%;
  color: #15a5bf;
}
.features-icon img{
  width: 25px !important;
}
.security .main-heading{
  margin-bottom: 15px !important;
}
/* Footer */

footer {
  padding: 80px 0;
  color: var(--text-white);
  background: var(--footer-bg);
  font-family: "Inter", sans-serif;
}

footer .footer-logo {
  max-width: 220px;
}

footer h5 {
  color: var(--text-blue);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 3px 0;
  line-height: 21px;
}

.footer-link a {
  color: var(--text-blue);
  font-weight: 500;
}

.footer-link a:hover {
  font-weight: 500;
}

footer a {
  color: var(--white);
}

footer ul li a {
  color: var(--text-white);
  letter-spacing: 0.9px;
  font-size: 14px;
}

footer ul li a:hover,
footer a:hover {
  color: #8371ff;
}

footer form .input-group-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}

footer form .form-control {
  border-radius: 30px !important;
}

footer form .input-group-btn .btn {
  padding: 8px 16px;
  font-size: 13px;
  background-image: var(--btn-gardient);
  border: none;
}

footer form .input-group-btn .btn:hover {
  background: var(--bg-primary);
}

.social-link li {
  display: inline-block;
  padding: 0 3px !important;
}

.social-link li:first-child {
  padding-left: 0 !important;
}

.social-link li .social-link-img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  margin-right: 10px;
}

.footer-blog .media img {
  max-width: 70px;
}

.footer-blog .media h5 {
  font-weight: 600;
  font-size: 13px;
}

.footer-blog .media p {
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.copy-right {
  background: var(--footer-bg);
  font-family: "Inter", sans-serif;
}

.copy-right p {
  margin-bottom: 0;
  font-size: 14px;
}
.copy-right .border-gray {
  height: 1px;
  background-color: #d6d8de;
}



.navbar-light .navbar-toggler {
  border: none;
  color: var(--text-blue);
  width: 34px;
  display: block;
}

.navbar-light .navbar-toggler span {
  font-size: 28px;
  -webkit-text-stroke: 1px var(--primary);
}


.icon-repair {
  background-image: url('../../assets/images/repair-icon.png');
}

.icon-shield {
  background-image: url('../../assets/images/shield.png');
}

.icon-send {
  background-image: url('../../assets/images/send.png');
}

.icon-about {
  background-image: url('../../assets/images/about.png');
}

.icon-process {
  background-image: url('../../assets/images/process.png');
}

.icon-blogging {
  background-image: url('../../assets/images/blogging.png');
}


/* Media Query */

@media (min-width: 991px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .faq-section .nav-tabs {
      min-width: 415px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {}

@media only screen and (max-width: 1200px) {
  header .nav-item {
    padding: 5px 0 !important;
  }
  .hero-section h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  .learn-section {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 991px) {

  .works .text-22px{
    width: 100%;
  }
  header .navbar-light .navbar-nav .nav-item i {
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
  }
  header nav {
    padding: 5px 15px !important;
  }
  header .navbar-nav {
    width: 100%;
    justify-content: end;
  }
  header .navbar2 {
    padding: 10px 15px !important;
  }
  #navbar_main {
    padding: 10px 15px 65px !important;
  }
  header .fa-close {
    -webkit-text-stroke: 3px var(--primary) !important;
    font-size: 30px;
    color: var(--text-white);
  }
  header .nav-link {
    padding: 0;
    font-size: 12px;
  }
  .hero-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .hero-section {
    padding: 120px 0 0;
    margin-top: -115px;
  }
  header .btn {
    padding: 4px 12px !important;
  }
  .product-section .card-body {
    padding: 20px;
  }
  main {
    padding-top: 55px;
  }
  header .dropdown .dropdown-menu {
    box-shadow: none;
    margin: 10px 0 0;
    left: -113px;
  }

  .service-section .card-body {
    padding: 40px 20px;
  }
  .service-section .card {
    min-height: 236px;
  }
  .service-section .card h3 {
    font-size: 20px;
  }
  .award-section .text-right h2 {
    display: none;
  }
  
  .copy-right {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .works .card img {
    height: 271px;
    }
    .faq-section .accordion .card {
      margin: 0px 20px 0px 20px;

  }

  .hero-section {
    padding: 100px 0 0;
    text-align: center;
  }
  .hero-section .form-group {
    margin: 0 auto 30px;
  }
  .service-section .card {
    min-height: auto;
  }
  .service-section .card p {
    font-size: 13px;
  }
  .service-section .card h3 {
    font-size: 18px;
  }
  .award-section .card .media img {
    margin-right: 15px;
    max-width: 70px;
  }
  .award-section .card h5 {
    font-size: 16px;
  }
  .award-section .card p {
    font-size: 13px;
  }
  footer {
    text-align: center;
    padding: 50px 0;
  }
  footer p {
    font-size: 13px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer hr {
    border-top: 1px solid var(--white);
  }
  footer .footer-logo {
    max-width: 200px;
  }
  footer ul {
    margin-top: 15px;
  }
  footer ul li a {
    font-size: 13px;
  }
  /* faq-section */
  .faq-section h3 {
    font-size: 20px;
  }

  .learn-section {
    text-align: center;
  }
  .learn-section h1 {
    font-size: 30px;
  }
  .learn-section h4 {
    font-size: 20px;
  }
  .learn-section img {
    margin-bottom: 40px;
  }
  .video-section {
    text-align: center;
  }
  .video-section h2 {
    font-size: 22px;
  }
  .video-section {
    background-image: url(../../assets/images/video-bg-md.png);
    padding: 250px 0 20px;
  }
  .video-section .video-icon {
    width: 60px;
    margin-top: 0px;
  }
  .pay-section {
    padding: 0 0 40px;
  }
  .plans-block {
    background: #fff;
    color: var(--text-blue);
    border-radius: 4px;
    padding: 8px 10px;
    margin-bottom: 20px;
  }
  .plans-block h1 {
    margin-bottom: 0;
  }
  .plans-block h6 {
    color: var(--text-primary);
  }

 
  .footer-blog .media {
    text-align: left !important;
  }
}

@media (max-width: 576px) {
  section {
    padding: 50px 0px;
}
  .main-heading {
    font-size: 25px;
  }
  .text-22px{
    font-size: 18px;;
  }
  .text-16px {
    font-size: 14px;
}
.faq-section .nav-tabs {
  width: 100%;
}
.faq-section .nav-tabs .nav-link {
  padding: 6px 3px;
  font-size: 13px;
}
  .hero-section h1 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  header .navbar-brand img {
    width: 170px;
  }
  header .btn {
    padding: 4px 8px !important;
  }

  .award-section .card-body {
    padding: 15px;
  }
  .award-section .card h5 {
    font-size: 14px;
  }
  .award-section .card p {
    font-size: 12px;
  }
  .video-section h2 {
    font-size: 18px;
  }
  .hero-section .form-group {
    position: relative;
    max-width: 300px;
    margin-bottom: 40px;
  }
 
 
  .footer-blog .media img {
    max-width: 55px;
  }
  .faq-section {
    padding: 40px 0 80px;
  }
  #navbar_main {
    width: 100%;
  }
  .award-bg .card {
    max-width: 160px;
    margin: 0 auto 100px;
    position: relative;
    top: 55px;
    right: -53px;
  }
  .award-bg h6 {
    font-weight: 700;
    font-size: 10px;
  }
  .award-bg .certi {
    max-width: 60px;
  }
}